<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/selection.css" />
    <title>たい焼き種類選択</title>
  </head>
  <body>
    <div id="menu">
      <h4>メニュー</h4>
      <div id="kind">
        <label><input name="kind" type="radio"  />通常たい焼き</label>
        <label><input name="kind" type="radio" />カスタードたい焼き</label>
        <label><input name="kind" type="radio" />デラックスたい焼き</label>
      </div>
    </div>
    <h4>サイズ</h4>
    <div id="size">
      <label><input name="size" type="radio"  />大</label>
      <label><input name="size" type="radio" />中</label>
      <label><input name="size" type="radio" />小</label>
    </div>

    <button id="purchase">購入</button>
    <button id="cancel">キャンセル</button>

    <script type="module" src="../wwwroot/js/Models/add.js"></script>
  </body>
</html>
